* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    max-height: 800px;
    overflow: hidden;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    margin-top: 1.5em;
    background-color: rgb(207, 207, 207);
}

.generate_btn {
    width: 5em;
    height: 3em;
    margin-top: 1em;
    border: 2px black solid;
    background-color: #7c7c7c4b;
    border-radius: 1em;

    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 3px #505050;
    transition: 0.3s ease-in-out all;
}
.generate_btn:hover {
    background-color: rgb(255, 167, 109);
}

.showcase {
    border-radius: 1em;
    margin-top:1.5em;
    width: 95%;
}